<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.credenceid.sdkapp"
          android:versionCode="7">

    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="com.credenceid.permission.SERVICE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>

    <application
        android:name="com.credenceid.sdkapp.TheApp"
        android:allowBackup="true"
        android:background="#CCCCCC"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_icon_name"
        android:theme="@style/AppTheme">

        <activity
            android:name="com.credenceid.sdkapp.activity.SampleActivity"
            android:label="@string/app_icon_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
    </application>
</manifest>
